:global(.ui) {
  .comment {
    overflow: auto;
  }
}

:global(.ui.basic.label).toolbarBtn {
  border: none;
  &:hover {
    color: #1E70BF;
  }
}

:global(.ui.basic.label).liked {
  color: #89C757;
}

:global(.ui.basic.label).disliked {
  color: #FD5D47;
}

.settings {
  position: absolute !important;
  right: 5px !important;
  overflow: visible;
}

.nick_status {
  width: fit-content !important;
  margin: 0 !important;
}

.status {
  margin-left: 0 !important;
}
