:global(.ui.basic.label).toolbarBtn {
  border: none
}

:global(.ui.basic.label).liked {
  color: #89C757;
}

:global(.ui.basic.label).disliked {
  color: #FD5D47;
}

.settings {
  position: absolute !important;
  right: 5px !important;
}
