.imageWrapper {
  margin-bottom: 10px
}

:global(.ui.image).image {
  width: auto;
  max-width: 150px;
  max-height: 150px;
}

:global(.ui.basic.label).error_label {
  font-weight: bold;
  margin-bottom: 10px;
  width: 100%;
}
