.headerWrp {
  background-color: white;
  padding: 1em 0;
}

.logoutBtn,
.logoutBtn:hover {
  &:global(.ui.icon.button) {
    border: none;
    box-shadow: none;
  }
}

.menuBtn,
.menuBtn:global(.ui.icon.button) {
  color: gray;
  &:hover {
    color: black !important;
  }
}

.status {
  &:hover {
    color: black;
    cursor: pointer;
  }
}

.navButton {
  text-align: center;
  height: 55px;
  vertical-align: middle;
  line-height: 55px !important;
  width: 120px;
  //color: black;
  font-size: 1.8em;
}

.noPadding {
  padding: 0 !important;
}
