.threadContent {
  width: 500px;
  margin: 20px auto;
}

.addPostForm {
  margin-top: 20px;
}

.toolbar {
  margin: 20px 0;
}

.checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
